<div class="container comingSoon text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Charts</h1>
        <div ng-repeat="item in vm.items track by item._id" class="well" style="background-color: #ff615c">
          <h3>{{item.name}}</h3>
          <p id="vm.getAverage(item.ratings)"></p>
          {{vm.getAverage(item.ratings)}}
          <canvas id="doughnut" class="chart chart-doughnut" chart-data="[vm.getAverage(item.ratings), (5-vm.getAverage(item.ratings))]" chart-labels="vm.labels"></canvas>
          <h7>Tags</h7>
          <a ui-sref="tags" ng-repeat="tag in item.tags">{{tag.tag}}</a>
          <a ng-click="vm.deleteItem(item._id)" class="btn glyphicon glyphicon-trash" style="color: #ff615c"></a>
   <!--        <a ng-click="vm.deleteItem(item._id)" class="btn glyphicon glyphicon-trash" style="color:#ff615c">
          <chart av="vm.getAverage(item.ratings)"></chart> -->
        </div>
      <div>
    </div>
</div>