.comingSoon {
  font-family: 'Coming Soon', cursive;
}
#navSpacer{
  width:100%;
  background-color: transparent;
  height: 50px;
}
#mainNav{
  font-family: 'Coming Soon', cursive;
  background-color: #056571;
  color: white;
  border:none;
}
.navWords{
  color:white !important;
}
#questionMark{
  text-align: center;
}
.navbar {
    position: relative;
}
#brand {
    position: absolute;
    left: 50%;
/*    margin-left: -50px !important;  /* 50% of logo width */
    display: block;
    height: 40px;
    top:5px;
}
