.comingSoon {
  font-family: 'Coming Soon', cursive;
}
#navSpacer{
  width:100%;
  background-color: transparent;
  height: 50px;
}
#mainNav{
  font-family: 'Coming Soon', cursive;
  background-color: #f24c43;
  color: white;
  border:none;
}
.navWords{
  color:white !important;
}
#questionMark{
  text-align: center;
}