<nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand navWords" ui-sref="home" value="indecisive">indecisive</div>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navWords" ui-sref="choices" value="Choices">Choices</a></li>
        <li><a class="navWords" ui-sref="signup" value="Sign Up">Sign Up</a></li>
        <li><a class="navWords" ui-sref="signin" value="Sign In">Sign In</a></li>
      </ul>
</nav>