<nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
  <div class="navbar-brand navWords" ui-sref="home" value="indecisive">indecisive</div>
  <img id="brand" src="img/donut.png" ui-sref="home">
  <ul class="nav navbar-nav navbar-right">
      <li><a class="navWords" ui-sref="choices" value="Choices">Choices</a></li>
      <li><a class="navWords" ui-sref="signup" value="Sign Up">Sign Up</a></li>
      <li><a class="navWords" ui-sref="signin" value="Sign In">Sign In</a></li>
      <li style="width:15px"> </li>
  </ul>
</nav>